div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  img {
    max-width: 100%; 
    height: auto; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  
.overall {
  background-color: #333333; 
  padding: 20px; 
}

.top {
  background-color: #fff; 
  border-radius: 8px; 
  padding: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.row {
  display: flex;
  justify-content: space-around; 
}

.col-md-3 {
  text-align: center; 
  padding: 10px; 
}

.col-md-3 a {
  text-decoration: none;
  color: #cec8ed; 
  font-weight: bold; 
  font-size: 18px; 
  transition: color 0.3s; 

  padding: 5px 10px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 4px;
}

.col-md-3 a:hover {
  color: #ff6600; 
  background-color: #fff; 
  border: 1px solid #ff6600; 
  color: #333;
}


.user-container {
  white-space: nowrap;
  overflow-x: auto;
  padding: 16px; 
  background-color: #f0f0f0; 
}

.user {
  display: inline-block; 
  width: 200px;
  padding: 16px;
  margin-right: 16px; 
  background-color: #ffffff; 
  border: 1px solid #e1e1e1; 
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; 
}

.user:hover {
  transform: translateY(-5px); 
}

.user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
}

.user h2 {
  font-size: 1.2em;
  margin: 8px 0;
  color: #333;
}

.user p {
  font-size: 0.9em;
  color: #666; 
}

