<div class="cover">

<div class="overall">
    <div class="top container-fluid ">
    <div class="row">
    <div class="col-md-3"><a routerLink="/profile"  >Profile</a></div>
    <div class="col-md-3"><a routerLink="/post" >Post</a></div>
    <div class="col-md-3"><a routerLink="/allpost" >Allpost</a></div>
    <div class="col-md-3"><a routerLink="/user" >User</a></div>
    </div>
    </div>
    </div>
<div class="center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">      
        <ng-container matColumnDef="username" class="container">
          <th mat-header-cell *matHeaderCellDef> username </th>
          <td mat-cell *matCellDef="let elements"> {{elements.username}}<button 
            
            (click)="follow(elements.userid)"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Follow
          </button> <button
            
          (click)="unfollow(elements.userid)"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Unfollow
        </button></td>
        </ng-container>
      
       
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
    </div>   


</div>
    